typing-extensions
python-dotenv
langchain-core
langchain-openai
langchain-experimental
langchain-core
openai
pandas
yfinance
stockstats
langgraph
rank-bm25
setuptools
backtrader
parsel
requests
tqdm
pytz
redis
chainlit
rich
typer
questionary
typer
langchain_anthropic
langchain-google-genai
tushare
